<% include partials/header %>

<h1>Sunrise and Sunset Times</h1>

<p>Sunrise at <%= astroData.astronomy.astronomy[0]['sunrise'] %></p>
<p>Sunset at <%= astroData.astronomy.astronomy[0]['sunset'] %></p>





<% include partials/footer %>