<% include partials/header %>
        <h1>This is the home page</h1>

        <img src='https://howtobeastoic.files.wordpress.com/2015/10/hand_with_reflecting_sphere_by_curlie_11.jpg' width="300" height='300'>

<% include partials/footer %>
