body{
  background-image: url('https://res.cloudinary.com/jerrick/image/upload/f_auto,fl_progressive,q_auto,c_fit,w_559/pnk1m7aa7cxqphdie5gh');
}
.todo{
  padding: 5px;
  grid-area: l;
  border: 1px solid black;
  
}

input, p, span, div {
  background: none;
  color: white;
  border: 1px solid white;
}




  
 