body{
    font-size: 10px;
}
p{
    font-family:Arial;
    font-size: 2em;
    font-weight: normal;
    line-height: 2;
    text-align: justify;
}

h1 {
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
}

#emDouble {
    font-size: 2em;
}