:root{
    --font: 'Kanit';
    --height: 100px;
    --width: 100px;
    --border: 3px solid black
}

body{
    font-family: var(--font);
}

h1{
    text-align: center;
}

.row{
    text-align: center;
}
.space{
    display: inline-block;
    height: var(--height);
    width: var(--width);
    margin: -4px;
}

#cell1 {
    border-right: var(--border);
    border-bottom: var(--border);
}

#cell2 {
    border-right: var(--border);
    border-bottom: var(--border);
}

#cell3 {
    border-bottom: var(--border);
}

#cell4 {
    border-right: var(--border);
    border-bottom: var(--border);
}

#cell5 {
    border-right: var(--border);
    border-bottom: var(--border);
}

#cell6 {
    border-bottom: var(--border);
}

#cell7 {
    border-right: var(--border);
}

#cell8 {
    border-right: var(--border);
}