/*Grid*/
:root {
    --darkBlue: #2c3e50;
    --lightGray: #ecf0f1;
}

body{
    margin: 0px;
   
}

/*LARGE DISPLAY*/
.grid{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
        "menu menu menu menu menu menu menu menu menu"
        "cont cont cont cont cont cont cont cont cont";
}

/*HEADER CSS*/
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkCSS {
    color: white;
    text-decoration: none;
}

header {
    grid-area: menu;
    background-color: var(--darkBlue);
    display: grid;
    grid-template-areas:  
        "logo about contact empty empty empty empty login signUp"
}

.logo {
    grid-area: logo;
    color: white;
}
.aboutLink {
    grid-area: about;
}

.contactLink {
    grid-area: contact;
}

.empty{
    grid-area: empty;
}

.loginLink {
    grid-area: login;
}

.signUpLink {
    grid-area: signUp;
}

#nav-toggle{
    display: none;
}

/*BMAIN CONTENT*/

.mainContent {
    grid-area: cont;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    grid-template-areas:  
        "lBlank  cont cont cont cont cont cont cont rBlank";
}

.leftBlankSpace {
    grid-area: lBlank;
    border: 1px solid black;
   
}
.contentArea {
    grid-area: cont;
    border: 1px solid black;
}

.rightBlankSpace {
    grid-area: rBlank;
    border: 1px solid black;
}

/*MEDIUM DISPLAY*/

@media screen  and (max-width: 768px) {
/*SMALL NAVBAR*/
  /*
    -REDEFINE GRID: 
        "LOGO EMPTYx6 MENUBTN"
        "EMPTY MENULINKS EMPTY"
    -DISPLAY HAMBURGER MENU (INPUT)
    -HIDE SECOND ROW
    -TOGGLE WITH ANIMATION THE SECOND ON INPUT=CHECKED
    
    https://codepen.io/kevinpowell/pen/jxppmr
    
  */

/*SMALL MAIN CONTENT*/
  .mainContent{
    display: grid;
    grid-template-areas:
      "cont cont cont cont cont cont cont cont cont";
  }
  
  .leftBlankSpace, .rightBlankSpace {
      display: none;
  }
}


