body{ 
  background-color: #232323;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 4fr)
}

.container-square{
  display: grid;
  grid-template-columns: repeat(3. 4fr);
  grid-template-rows: repeat(2, 150px);
  grid-template-areas:  
    'square1 square2 square3'
    'square4 square5 square6';
  grid-gap: 1em;
}

.square{
  background-color: red;
  height: 150px;
  width: 150px;
}

#s1 {
  grid-area: sqaure1;
}

#s2 {
  grid-area: sqaure2;
}

#s3 {
  grid-area: sqaure3;
}

#s4 {
  grid-area: sqaure4;
}

#s5 {
  grid-area: sqaure5;
}

#s6 {
  grid-area: sqaure6;
}

