body{ 
  background-color: #232323; 
  margin:0;
}

.hardSetting{
  display: none;
  
}

.fadeOut {
  opacity: 0;
  transition: .7s opacity;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: auto;
  grid-template-areas: 
    'header header header'
    'menu menu menu'
    '. display .';
  justify-items: center;
  
}

.container-header{
  grid-area: header;
  background: rgb(67, 125, 249);
  justify-self: stretch;
}

  .container-header h1 {
    color: white;
    text-align: center; 
    text-transform: uppercase;
    align-self: stretch;
  }
  
  .container-header p {
    margin: 0px;
  }
  
  .menu {
    background: white;
    grid-area: menu;
    text-align: center;
    justify-self: stretch;
    margin-bottom: 10px;
  }
  
    .correct{
      opacity: 0;
    }
    .menu .new, .difficulty, .correct{
      margin: 0rem 3.25rem;
      color: rgb(67, 125, 249);
      font-weight: 700;
    }
    
    .new:hover, .easy:hover, .hard:hover {
      color: white;
      background: rgb(67, 125, 249);
    }
    
    
      
    
    
    
  
  #color{
    font-size: 4rem;
  }
  
.container-square{
  grid-area: display;
  padding: 0px;
  display: grid;
  grid-template-columns:  repeat(3, 4fr);
  grid-template-rows: auto auto;
  grid-template-areas:  
    'square1 square2 square3'
    'square4 square5 square6';
  grid-gap: .5em;
}

.square{
  height: 150px;
  width: 150px;
  padding: 0px;
  border: 1px solid black;
  border-radius: 10%;
}




.s1 {
  grid-area: square1;
  
}

.s2 {
  grid-area: square2;
}

.s3 {
  grid-area: square3;
}

.s4 {
  grid-area: square4;
}

.s5 {
  grid-area: square5;
}

.s6 {
  grid-area: square6;
}

