.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

img{
    width: 100%;
    border: 1px solid black;
}

p{
    font-variant: small-caps;
    margin-left: 1em;
}